@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

@model List<Student>

@*@model List<StudentEmployeeDbContext>*@

    <form method="post" asp-controller="Home" asp-action="ExportToCSVStudent"> 
        <input type="submit" value="Export To CSV" color="black"/>
    </form>

<table class="table table-bordered table-hover">
    <thead class="thead-light">
        <tr>
            @*Student Table*@
            <th></th>
            <th>BYU ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>International</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Semester</th>
            <th>Year</th>
            <th>Program Year</th>
            <th>Phone</th>
            <th>BYU Name</th>
            <th>Pay Grad Tuition</th>
            <th>Submitted E-Form</th>
            <th>Submission Date</th>
            <th>Notes</th>

        </tr>
    </thead>
    <tbody>
        @foreach (Student s in Model)
        {
            <tr>
                <td><a asp-controller="Home" asp-action="EditForm" asp-route-byuid="@s.BYUID" class="btn btn-info">Edit</a></td>
                <td>@s.BYUID</td>
                <td>@s.FirstName </td>
                <td>@s.LastName </td>
                <td>@s.International </td>
                <td>@s.Gender </td>
                <td>@s.EmailAddress</td>
                <td>@s.Semester</td>
                <td>@s.Year </td>
                <td>@s.ProgramYear</td>
                <td>@s.Phone </td>
                <td>@s.BYUName </td>
                <td>@s.PayGradTuition</td>
                <td>@s.SubmittedEForm </td>
                <td>@s.SubmissionDate </td>
                <td>@s.Notes </td>
            </tr>
        }

    </tbody>
</table>